<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle7.css') }}">
  </head>
  <body>
  <div class="main-login-box">
  <div class="login-box">
    <h1>Thank you</h1>
    <h2>thank you for registration!</h2>
    <h3>Your salon is send for verification to the administrator</h3>
    <h3>you will recieve after verifcation</h3>
    <h3>FOR any other information <br> contact +919672172207 <br> https//:www.Salonport.com/support</h3>
      </div>
    </div>
  </body>
</html>
